# Ignore all emacs backup files
*~

# Ignore all csv files
*.csv

# Ignore all xlsx files
*.xlsx

# Ignore __init.py__ and __pycache__
__init__.py
__pycache__

# Ignore old directory
old

# Ignore any log files
*.log

# Ignore db.py file
db.py

#Ignore .env file used by autoenv
.env